.vs/
Debug/
Release/
x64/
ipch/
cov-int/
packages/

*.opendb
*.sdf
*.vsp
*.VC.db
*.vcxproj.user

*.swp
*~

*.bin
*.rom

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cpp_chip8

src/state
/config
/DawnCache
/GPUCache
/M6502/HarteTest_6502/e000
/M6502/HarteTest_6502/Intel® VTune™ Profiler Results/HarteTest_6502
*.advidb2
*.advixeproj
/M6502/test/Intel® VTune™ Profiler Results/test_M6502
/Z80/test/Intel® VTune™ Profiler Results
